{% extends 'main/base.html.twig' %}

{% block title %}Home Page!{% endblock %}

{% block stylesheets %}
    <link href="/assets/css/main/articles/index.css" rel="stylesheet">
{% endblock %}


{% block javascripts %}
    <script src="/assets/js/main/articles/index/comments.js" rel="stylesheet"></script>
{% endblock %}

{% block body %}

    <div class="container">

        <div class="row mt-5">
            <h2 class="text-center mb-5">{{ Article.title }}</h2>
            <span>Published At: {{ Article.insertDate|date('Y-m-d H:i') }}</span>
            <div class="col-lg-12 article">
                <div class="row mt-5">

                    <img src="/uploads/{{ Article.image }}" class="img-fluid" alt="{{ Article.title }}">
                    <p class="mt-2 mb-3">{{ Article.content }}</p>

                    {% include '/main/categories/elements/list.html.twig' %}

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mt-5" id="comments"></div>
            <div class="col-lg-12 mb-5" id="comments-list"></div>
        </div>

    </div>

{% endblock %}
